  Represent vegetation ON                 (do_vegetation=T)
  Represent urban areas OFF               (do_urban=F)
  Do shortwave (SW) calculations ON       (do_sw=T)
  Do longwave (LW) calculations OFF       (do_sw=F)
  Save broadband fluxes ON                (do_save_broadband_flux=T)
  Save spectral fluxes OFF                (do_save_spectral_flux=F)
  Number of SW spectral intervals = 1     (nsw)
  Minimum vegetation fraction = .100E-05  (min_vegetation_fraction)
Settings for forests:
  Number of vegetation regions = 2        (n_vegetation_region_forest)
  Use symmetric vegetation scale OFF      (use_symmetric_vegetation_scale_forest=F)
  Vegetation isolation factor = 0.00      (vegetation_isolation_factor_forest)
  SW diffuse streams per hemisphere = 10  (n_stream_sw_forest)

